#wrapper{
	width:1000px;
	margin:0px auto;
}
@font-face{
	font-family: upcib;
	src: url('fonts/upcib.ttf');
}
@font-face{
	font-family: DroidSans;
	src: url('fonts/DroidSans.ttf');
}
#message{
	position:absolute;
}
#content{
	text-align: left;
	width: 700px;
	margin:auto;
}
#login{
	position:absolute;
	right:20px;
}
#loginPanel{
	display:none;
	position:absolute;
	top:50%;
	left:50%;
	border: 2px solid black;
	border-radius: 3px;
	background-color:gray;
	box-shadow:rgba(200, 200, 200, 0.55) 3px 3px 9px;
}
header{
	text-align:center;
	font-size: 5em;
	font-family:upcib;
}
nav{
	float: left;
	position: fixed;
	top: 20%;
	left: 0px;
	background-color:#005EFF;
	color:#000000;
	-webkit-transform-origin: left bottom;
	-webkit-transform: rotate(90deg);
	font-family: DroidSans;
	font-size: 2em;
	text-shadow: white 0px 0px 1px;
	
}
.subheading{
	width:100%;
	font-family: upcib;
	font-size: 3em;
}
.page{
	border:groove 0.2em gray;
	border-radius: 0.5em;
	margin-bottom:50px;
	padding:7px;
}
nav ul a:visited{
	color:#FFFFFF;
}
nav ul a{
	text-decoration: none;
	color:#FFFFFF;
}
nav ul{
	margin-top:3px;
	margin-bottom:3px;
	list-style-type:none;
	padding-left:0px;
}
nav ul li{
	display:inline;
}
footer{
	text-align: center;
}
